In [1]:
import os
import datetime as dt

import xihr

In [2]:
os.environ["xihr_postgres_config_user"] = "postgres"
os.environ["xihr_postgres_config_password"] = "postgres"
os.environ["xihr_postgres_config_host"] = "192.168.3.7"
os.environ["xihr_postgres_config_port"] = "5432"
os.environ["xihr_postgres_config_database"] = "pckeiba"

In [3]:
# reload to reflect system variables
xihr.Config.reload()
xihr.Config.options

Options(postgres_config=PostgresConfig(host='192.168.3.7', port=5432, user='postgres', password='postgres', database='pckeiba'))

In [4]:
df = xihr.PCKeibaDataFeeder()

In [5]:
xihr.Config.options.postgres_config

PostgresConfig(host='192.168.3.7', port=5432, user='postgres', password='postgres', database='pckeiba')

In [6]:
df.set_time(dt.datetime(2025, 3, 30, 9, 10))

In [7]:
df.get_next_race_id()

Getting next race id from database

'2025033009020201'

In [8]:
df.get_next_race_id()

'2025033009020201'

In [9]:
df.get_next_entries()

,date,raceId,recordType,bracketNum,horseNum,horseId,horseName,symbolCode,genderCode,breedCode,...,popularityRank,earnedBasePrize,earnedAdditionalPrize,spare3,spare4,last4Furlongs,last3Furlongs,timeDifference,recordUpdateCategory,runningStyleAssessment
0,2025-03-30,2025033009020201,finalResults,1,1,2022100965,b'\xe3\x83\x99\xe3\x83\xab\xe3\x82\xb7\xe3\x82...,00,2,1,...,11,560000,0,000,000,0.0,39.9,+018,0,4
1,2025-03-30,2025033009020201,finalResults,2,2,2022104816,b'\xe3\x83\x88\xe3\x83\xad\xe3\x83\x94\xe3\x82...,00,2,1,...,3,0,0,000,000,0.0,42.7,+036,0,1
2,2025-03-30,2025033009020201,finalResults,3,3,2022102286,b'\xe3\x82\xb9\xe3\x83\xbc\xe3\x83\x91\xe3\x83...,00,2,1,...,4,840000,0,000,000,0.0,40.2,+017,0,3
3,2025-03-30,2025033009020201,finalResults,4,4,2022105716,b'\xe3\x82\xb7\xe3\x83\xa5\xe3\x83\x89\xe3\x82...,00,2,1,...,1,5600000,0,000,000,0.0,38.8,-008,0,2
4,2025-03-30,2025033009020201,finalResults,5,5,2022103228,b'\xe3\x83\xa1\xe3\x82\xa4\xe3\x82\xb7\xe3\x83...,00,2,1,...,5,0,0,000,000,0.0,40.6,+022,0,3
5,2025-03-30,2025033009020201,finalResults,5,6,2022100101,b'\xe3\x82\xa2\xe3\x83\xac\xe3\x83\xbc\xe3\x83...,00,2,1,...,6,2200000,0,000,000,0.0,39.7,+008,0,2
6,2025-03-30,2025033009020201,finalResults,6,7,2022101407,b'\xe3\x83\x9b\xe3\x83\xaf\xe3\x82\xa4\xe3\x83...,00,2,1,...,10,0,0,000,000,0.0,41.0,+022,0,2
7,2025-03-30,2025033009020201,finalResults,6,8,2022104495,b'\xe3\x82\xaf\xe3\x82\xa4\xe3\x83\xbc\xe3\x83...,00,2,1,...,9,0,0,000,000,0.0,40.8,+032,0,4
8,2025-03-30,2025033009020201,finalResults,7,9,2022107004,b'\xe3\x82\xa2\xe3\x83\xb3\xe3\x83\x9f\xe3\x83...,00,2,1,...,8,0,0,000,000,0.0,40.3,+038,0,4
9,2025-03-30,2025033009020201,finalResults,7,10,2022103619,b'\xe3\x82\xbf\xe3\x83\x9e\xe3\x83\xa2\xe3\x82...,00,2,1,...,2,1400000,0,000,000,0.0,40.2,+016,0,2
10,2025-03-30,2025033009020201,finalResults,8,11,2022102372,b'\xe3\x82\xb5\xe3\x83\x88\xe3\x82\xa5\xe3\x83...,00,2,1,...,12,0,0,000,000,0.0,40.4,+036,0,4
11,2025-03-30,2025033009020201,finalResults,8,12,2022104866,b'\xe3\x83\x8d\xe3\x82\xaa\xe3\x82\xaf\xe3\x82...,00,2,1,...,7,0,0,000,000,0.0,40.4,+021,0,3

In [10]:
df.get_race_by_race_id("2025033009020201")

,date,recordType,raceId,startTime,startTimePreChange,raceSeriesNumber,raceDayNumber,raceNumber,raceVenueCode,dayType,...,bonusPrizePreChange1,bonusPrizePreChange2,bonusPrizePreChange3,registeredCount,racedCount,completedCount,weatherCode,turfConditionCode,dirtConditionCode,recordUpdateType
0,2025-03-30,finalResults,2025033009020201,09:50:00,00:00:00,02,02,01,09,2,...,0,0,0,12,12,12,1,0,1,0

In [13]:
df.get_history_by_race_id("2025033009020201", dt.timedelta(days=-365))

TO_DATE(kaisai_nen || kaisai_tsukihi, 'YYYYMMDD') BETWEEN '20250330' AND '20240330'

ValueError: Cannot set a DataFrame with multiple columns to the single column raceId

In [13]:
df.get_race_by_race_id("2025033009020201")

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)